h1{
    background-color:chocolate;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color:white;
    padding:10px;
    margin:5px;
    margin-bottom: 20px;
    
}
img{
    border-style: solid;
    border-color:black;
    border-width: 5px;
}
input[type="number"]{
    padding:10px;
    background-color: #007bff;
    color:#fff;
    width: 60%;
    border-style: solid;
    text-align: center;
    border-color: black;
    text-decoration:double;

}
button{
    padding:10px;
    background-color: #007bff;
    color:#fff;
    cursor:pointer;
    width: 60%;
    border-style: solid;
}